# -u 4.3 -a 6.0 -t 1.45
 
define spin 2
define ystar 2.3 1.5
    
fit kpkpxim
    
reaction KpKpXim Beam K+ K+%2 Xi-

sum KpKpXim PosRe PosRe2

# amplitude KpKpXim::PosRe::YstarAmp Zlm 1 0 +1 +1 0.0 0.350
# amplitude KpKpXim::PosRe::YstarAmp1 Ylm 2 0 1
# amplitude KpKpXim::PosRe::YstarAmp1 Hist2D exampleHist2D.root MVsE MassVsEgamma 23
amplitude KpKpXim::PosRe::YstarAmp Ylm 1 0 1
amplitude KpKpXim::PosRe::YstarAmp Hist2D /w/halld-scshelf2101/home/jahernan/HallD/MC/exampleHist2D.root MVsE MassVsEgamma 23

initialize KpKpXim::PosRe::YstarAmp cartesian 10.0 0.0
# initialize KpKpXim::PosRe::YstarAmp1 cartesian 2.0 0.0