# -t 1.45 1 -lvRange 1.5 4.5

reaction KpKpXim Beam K+ K+%2 Xi-

sum KpKpXim PosRe

amplitude KpKpXim::PosRe::amp Hist3D /work/halld/home/jahernan/HallD/MC/gen_amp/gen_amp_cfg/gen_amp_hist3d_noac.root ResMassVsCosThetaVsT_Phase1_noac ResMassVsCosThetaVsT 23

initialize KpKpXim::PosRe::amp cartesian 1.0 0.0

