# -t 1.45 1 -mask 1 1 0

fit kpkpxim

reaction KpKpXim Beam Pi0 K+ K+%2 Xi-

sum Pi0KpKpXim PosRe

amplitude Pi0KpKpXim::PosRe::amp Hist2D /work/halld/home/jahernan/HallD/MC/gen_amp/gen_amp_cfg/gen_amp_hist2d_ac1.root ResMassVsCosTheta_Phase1_ac CosThetaVsMass 34

initialize KpKpXim::PosRe::amp cartesian 1.0 0.0

