# -t 1.45 1 -mask 1 1 0

fit kpkpxim

reaction KpKpXim Beam K+ K+%2 Xi-

sum KpKpXim PosRe

amplitude KpKpXim::PosRe::ystar_S0 Ylm 0 0 +1 
amplitude KpKpXim::PosRe::ystar_S0 Hist2D /w/halld-scshelf2101/home/jahernan/HallD/MC/exampleHist2D.root MVsE MassVsEgamma 23

amplitude KpKpXim::PosRe::ystar_P0 Ylm 1 0 +1 
amplitude KpKpXim::PosRe::ystar_P0 Hist2D /w/halld-scshelf2101/home/jahernan/HallD/MC/exampleHist2D.root MVsE MassVsEgamma 23
amplitude KpKpXim::PosRe::ystar_P1 Ylm 1 1 +1 
amplitude KpKpXim::PosRe::ystar_P1 Hist2D /w/halld-scshelf2101/home/jahernan/HallD/MC/exampleHist2D.root MVsE MassVsEgamma 23

amplitude KpKpXim::PosRe::ystar_D0 Ylm 2 0 +1 
amplitude KpKpXim::PosRe::ystar_D0 Hist2D /w/halld-scshelf2101/home/jahernan/HallD/MC/exampleHist2D.root MVsE MassVsEgamma 23
amplitude KpKpXim::PosRe::ystar_D1 Ylm 2 1 +1 
amplitude KpKpXim::PosRe::ystar_D1 Hist2D /w/halld-scshelf2101/home/jahernan/HallD/MC/exampleHist2D.root MVsE MassVsEgamma 23
amplitude KpKpXim::PosRe::ystar_D2 Ylm 2 2 +1 
amplitude KpKpXim::PosRe::ystar_D2 Hist2D /w/halld-scshelf2101/home/jahernan/HallD/MC/exampleHist2D.root MVsE MassVsEgamma 23

amplitude KpKpXim::PosRe::ystar_F0 Ylm 3 0 +1 
amplitude KpKpXim::PosRe::ystar_F0 Hist2D /w/halld-scshelf2101/home/jahernan/HallD/MC/exampleHist2D.root MVsE MassVsEgamma 23
amplitude KpKpXim::PosRe::ystar_F2 Ylm 3 2 +1 
amplitude KpKpXim::PosRe::ystar_F2 Hist2D /w/halld-scshelf2101/home/jahernan/HallD/MC/exampleHist2D.root MVsE MassVsEgamma 23

amplitude KpKpXim::PosRe::ystar_G0 Ylm 4 0 +1 
amplitude KpKpXim::PosRe::ystar_G0 Hist2D /w/halld-scshelf2101/home/jahernan/HallD/MC/exampleHist2D.root MVsE MassVsEgamma 23

initialize KpKpXim::PosRe::ystar_S0 cartesian 1.4 0.0
initialize KpKpXim::PosRe::ystar_P0 cartesian 0.85 0.0
#initialize KpKpXim::PosRe::ystar_P1 cartesian -1.9 0.0
initialize KpKpXim::PosRe::ystar_D0 cartesian 1.0 0.0
#initialize KpKpXim::PosRe::ystar_D1 cartesian -0.7 0.0
initialize KpKpXim::PosRe::ystar_D2 cartesian 0.4 0.0
initialize KpKpXim::PosRe::ystar_F0 cartesian 0.45 0.0
initialize KpKpXim::PosRe::ystar_F2 cartesian 0.15 0.0
#initialize KpKpXim::PosRe::ystar_G0 cartesian 0.6 0.0
