# -t 1.45

fit kpkpxim

reaction KpKpXim Beam K+ K+%2 Xi-

sum KpKpXim PosRe

amplitude KpKpXim::PosRe::ystar_S0 Zlm 0 0 +1 +1 0.0 0.350
amplitude KpKpXim::PosRe::ystar_S0 Hist2D /w/halld-scshelf2101/home/jahernan/HallD/MC/exampleHist2D.root MVsE MassVsEgamma 23

amplitude KpKpXim::PosRe::ystar_P0 Zlm 1 0 +1 +1 0.0 0.350
amplitude KpKpXim::PosRe::ystar_P0 Hist2D /w/halld-scshelf2101/home/jahernan/HallD/MC/exampleHist2D.root MVsE MassVsEgamma 23

amplitude KpKpXim::PosRe::ystar_P1 Zlm 1 1 +1 +1 0.0 0.350
amplitude KpKpXim::PosRe::ystar_P1 Hist2D /w/halld-scshelf2101/home/jahernan/HallD/MC/exampleHist2D.root MVsE MassVsEgamma 23

amplitude KpKpXim::PosRe::ystar_D0 Zlm 2 0 +1 +1 0.0 0.350
amplitude KpKpXim::PosRe::ystar_D0 Hist2D /w/halld-scshelf2101/home/jahernan/HallD/MC/exampleHist2D.root MVsE MassVsEgamma 23
amplitude KpKpXim::PosRe::ystar_D1 Zlm 2 1 +1 +1 0.0 0.350
amplitude KpKpXim::PosRe::ystar_D1 Hist2D /w/halld-scshelf2101/home/jahernan/HallD/MC/exampleHist2D.root MVsE MassVsEgamma 23
amplitude KpKpXim::PosRe::ystar_D2 Zlm 2 2 +1 +1 0.0 0.350
amplitude KpKpXim::PosRe::ystar_D2 Hist2D /w/halld-scshelf2101/home/jahernan/HallD/MC/exampleHist2D.root MVsE MassVsEgamma 23

# amplitude KpKpXim::PosRe::ystar_F0 Zlm 3 0 +1 +1 0.0 0.350
# amplitude KpKpXim::PosRe::ystar_F0 Hist2D /w/halld-scshelf2101/home/jahernan/HallD/MC/exampleHist2D.root MVsE MassVsEgamma 23

# amplitude KpKpXim::PosRe::ystar_G0 Zlm 4 0 +1 +1 0.0 0.350
# amplitude KpKpXim::PosRe::ystar_G0 Hist2D /w/halld-scshelf2101/home/jahernan/HallD/MC/exampleHist2D.root MVsE MassVsEgamma 23

initialize KpKpXim::PosRe::ystar_S0 cartesian 73 0.0
initialize KpKpXim::PosRe::ystar_P0 cartesian 160 0.0
initialize KpKpXim::PosRe::ystar_P1 cartesian 100 0.0
initialize KpKpXim::PosRe::ystar_D0 cartesian 135 0.0
initialize KpKpXim::PosRe::ystar_D1 cartesian 54 0.0
initialize KpKpXim::PosRe::ystar_D2 cartesian 120 0.0
# initialize KpKpXim::PosRe::ystar_F0 cartesian 11 0.0
# initialize KpKpXim::PosRe::ystar_G0 cartesian 3 0.0
