# -t 1.45 1 -mask 1 1 0

fit kpkpxim

define XiStar 1.535 0.010

reaction Pi0KpKpXim Beam K+ K+%2 Xi- Pi0

sum Pi0KpKpXim PosRe
sum Pi0KpKpXim PosRe1

amplitude Pi0KpKpXim::PosRe::ystar Hist2D /work/halld/home/jahernan/HallD/MC/gen_amp/gen_amp_cfg/gen_amp_hist2d_ac1.root ResMassVsCosTheta_Phase1_ac CosThetaVsMass 234
amplitude Pi0KpKpXim::PosRe1::xistar BreitWigner XiStar 0 3 4

initialize Pi0KpKpXim::PosRe::ystar cartesian 1.0 0.0
initialize Pi0KpKpXim::PosRe1::xistar cartesian 1.0 0.0


